<h4>Welcome to Blackjack</h4>
<h5>What is your name?</h5>


<form action='/get_name' method='post'>
    <input type='text' name="player_name"/>
    <br/>
    <input type="submit" value="Submit Name" class="btn"/>
</form>
